@font-face {
  font-family: 'Factor A';
  src: url('../../assets/fonts/FactorAMedium-Regular.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Factor A';
  src: url('../../assets/fonts/FactorALight-Regular.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Factor A';
  src: url('../../assets/fonts/FactorA-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Factor A';
  src: url('../../assets/fonts/FactorA-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SKRAPPA';
  src: url('../../assets/fonts/SKRAPPA-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
